.catalog {
  margin-top: 30px;
}

.catalog__list {
  width: 260px;
  padding: 0;
  margin: 0 auto;

  list-style: none;
}

.catalog__item {
  position: relative;

  margin-bottom: 30px;

  border: 1px solid #ececec;
}

.catalog__item-link {
  text-decoration: none;
}

.catalog__item-head {
  margin: 0;
}

.catalog__item-title {
  margin: 0;
  padding-top: 20px;
  padding-left: 28px;

  text-align: left;
  font-size: 17px;
  font-weight: bold;
  color: #000000;
}

.catalog__item-spec {
  width: 204px;

  margin: 0 auto;
  margin-bottom: 20px;
  padding-top: 5px;

  text-align: left;
  font-size: 13px;
  line-height: 30px;
}

.catalog__item-price {
  width: 204px;
  margin: 0 auto;
  padding-bottom: 27px;
  padding-top: 20px;

  font-size: 15px;
  font-weight: bold;
  color: #000000;

  border-top: 1px solid #ececec;
}

.catalog__item-add {
  position: absolute;
  right: 27px;
  bottom: 22px;

  width: 20px;
  height: 20px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  border: none;

  font-size: 0;
}

@media (min-width: @tablet-width) {
  .catalog {
    margin-top: 65px;
  }

  .catalog__list {
    .tablet-centre;
  }

  .catalog__item {
    height: 331px;

    display: flex;

    margin-bottom: 54px;
  }

  .catalog__item-desription {
    width: 334px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-left: 27px;
    padding-top: 25px;
  }


  .catalog__item-link {
    // width: 334px;
  }

  .catalog__item-image {
    width: 334px;
    height: 334px;
  }

  .catalog__item-title {
    display: inline-block;

    padding: 0;
    margin: 0;

    font-size: 20px;
  }

  .catalog__item-spec {
    width: 268px;

    padding: 0;
    margin: 0;
    margin-top: 5px;
    margin-bottom: auto;

    font-size: 15px;
  }

  .catalog__item-price {
    width: 268px;

    padding: 0;
    padding-top: 23px;
    margin: 0;
    margin-bottom: 25px;

    font-size: 17px;

    border-top: 1px solid #ececec;
  }

  .catalog__item-add {
    right: 32px;
    bottom: 20px;
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    margin-top: 110px;
  }

  .catalog__list {
    .desktop-centre;

    display: flex;
    flex-wrap: wrap;
  }

  .catalog__item {
    flex-direction: column;

    height: auto;
    min-height: 654px;

    margin-right: 48px;

    &:nth-child(3n+3) {
      margin-right: 0;
    }

    &:hover {
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    }
  }

  .catalog__item-link {
    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }

    &--upper {
      height: 462px;
    }
  }

  .catalog__item-image {
    width: 316px;
    height: 462px;
  }

  .catalog__item-desription {
    width: auto;

    flex-grow: 1;

    padding: 0;
    margin: 0;
    padding-left: 29px;
    padding-top: 29px;
  }

  .catalog__item-price {
    margin-top: auto;
  }
}
