.contacts {
  width: 260px;
  margin: 0 auto;
}

.contacts__title {
  margin: 0;
  padding: 0;
  padding-top: 40px;
  padding-bottom: 42px;

  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}

.contacts__way,
.contacts__value {
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  text-align: left;
}

.contacts__row {
  display: inline-block;
  margin-bottom: 30px;
}

.contacts__way {
  min-width: 48px;
  vertical-align: top;
}

.contacts__value {
  padding-left: 32px;
}

.contacts__map {
  margin-left: -30px;
}

.contacts__map-image {
  padding-top: 10px;
  padding-bottom: 39px;
}

.contacts__write-to-us {
  margin-bottom: 39px;
}
