.contacts {
  // width: 260px;
  margin: 0 auto;
}

.contacts__title {
  width: 260px;

  margin: 0 auto;
  padding: 0;
  padding-top: 35px;
  padding-bottom: 25px;

  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: #000000;
}

.contacts__table {
  width: 260px;

  margin: 0 auto;

  border-collapse: collapse;
}

.contacts__way,
.contacts__value {
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  text-align: left;
}

.contacts__row {
  display: inline-block;
  margin-bottom: 28px;
}

.contacts__way {
  min-width: 48px;
  vertical-align: top;
}

.contacts__value {
  position: relative;

  padding-left: 27px;
}

.contacts__email {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  text-decoration: none;

  &:hover {
    color: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }

  &::after {
    content: "";

    position: absolute;
    bottom: 0;
    right: 5px;

    width: 177px;
    height: 1px;

    background-color: #46c1ae;
  }
}

.contacts__map {
  width: 100%;
  height: 457px;

  // margin-left: -30px;
  margin-top: 8px;
  margin-bottom: 39px;

  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;

  @media @retina {
    background-image: url("../img/map-mobile@2x.jpg");
    background-size: 322px auto;
  }
}

.contacts__write-to-us {
  min-height: 52px;
  width: 260px;

  margin: 0 auto;
  margin-bottom: 39px;
}

@media (min-width: @tablet-width) {
  .contacts {
    display: flex;
    flex-direction: column;

    width: 100%;
  }

  .contacts__title {
    .tablet-centre;
    width: 669px;

    position: relative;

    padding-top: 60px;
    padding-bottom: 50px;

    font-size: 43px;
    line-height: 50px;

    &::after {
      content: "";

      position: absolute;
      top: 45px;
      right: 3px;

      width: 47px;
      height: 81px;

      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
    }
  }

  .contacts__table {
    .tablet-centre;
  }

  .contacts__row {
    width: 332px;

    margin-bottom: 5px;

    vertical-align: top;
  }

  .contacts__way,
  .contacts__value {
    font-size: 17px;
    line-height: 30px;
  }

  .contacts__value {
    padding-left: 24px;
  }

  .contacts__email {
    font-size: 17px;

    &::after {
      width: 200px;
    }
  }

  .contacts__map {
    width: 768px;

    margin: 0 auto;
    margin-top: 48px;

    background-image: url("../img/map-tablet@1x.jpg");
    background-repeat: no-repeat;

    @media @retina {
      background-image: url("../img/map-tablet@2x.jpg");
      background-size: 768px auto;
    }
  }

  .contacts__write-to-us {
    display: inline-block;

    width: auto;

    align-self: center;
    // margin: 0 auto;
    // Column flex items ignore margin-auto on the cross axis
    // https://github.com/philipwalton/flexbugs#flexbug-15
    margin-top: 55px;
    margin-bottom: 58px;
    padding: 15px 39px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    .desktop-centre;

    position: relative;

    margin-bottom: 105px;
  }

  .contacts__title {
    width: auto;

    padding-top: 140px;
    margin-left: 171px;

    font-size: 53px;
    line-height: 57px;

    &::after {
      top: auto;
      right: auto;
      bottom: 33px;
      left: -108px;
    }
  }

  .contacts__address {
    display: flex;
    align-items: flex-end;

    margin-left: 174px;
    margin-top: -176px;
  }

  .contacts__table {
    width: 351px;

    margin-bottom: 102px;
  }

  .contacts__row {
    margin-bottom: 27px;
  }

  .contacts__map {
    width: 525px;

    margin-top: 0;

    background-image: url("../img/map-desktop@1x.jpg");
    background-repeat: no-repeat;

    @media @retina {
      background-image: url("../img/map-desktop@2x.jpg");
      background-size: 525px auto;
    }
  }

  .contacts__write-to-us {
    position: absolute;
    bottom: 0;
    left: 175px;

    margin: 0;
  }
}
