.features {
  width: 260px;
  margin: 0 auto;
}

.features__title {
  margin: 0;
  padding-top: 28px;
  padding-bottom: 30px;

  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
}

.features__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.features__item {
  display: block;

  position: relative;

  margin-bottom: 28px;
  padding-top: 55px;

  line-height: 20px;
  font-weight: bold;
  color: #000000;

  &::before {
    content: "";

    position: absolute;
    top: 1px;
    left: 8px;

    background-repeat: no-repeat;
  }

  &--eco::before {
    width: 32px;
    height: 37px;

    background-image: url("../img/icon-feature-flower.svg");
  }

  &--hugge::before {
    width: 47px;
    height: 27px;

    background-image: url("../img/icon-feature-money.svg");
  }

  &--likes::before {
    width: 34px;
    height: 27px;

    background-image: url("../img/icon-feature-heart.svg");
  }

  &--craft::before {
    width: 35px;
    height: 34px;

    background-image: url("../img/icon-feature-ball.svg");
  }

  &--local::before {
    width: 55px;
    height: 23px;

    background-image: url("../img/icon-feature-rocket.svg");
  }

  &--gift::before {
    width: 33px;
    height: 32px;

    background-image: url("../img/icon-feature-gift.svg");
  }
}

@media (min-width: @tablet-width) {
  .features {
    .tablet-centre;
  }

  .features__title {
    padding-top: 50px;
    padding-bottom: 46px;

    font-size: 43px;
    line-height: 50px;
  }

  .features__list {
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .features__item {
    // display: inline-block;
    width: 295px;

    padding: 0;
    padding-top: 55px;
    padding-bottom: 56px;
    margin: 0;
    margin-right: 38px;

    font-size: 20px;
    line-height: 22px;

    &--eco {
      order: 0;
    }

    &--craft {
      order: 1;
    }

    &--hugge {
      order: 2;
    }

    &--local {
      order: 3;
    }

    &--likes {
      order: 4;
    }

    &--gift {
      order: 5;
    }
  }
}

@media (min-width: @desktop-width) {
  .features {
    .desktop-centre;
  }

  .features__title {
    margin-left: 170px;
    padding-top: 61px;

    font-size: 53px;
    line-height: 57px;
  }

  .features__list {
    justify-content: flex-start;

    margin-left: 175px;
  }

  .features__item {
    margin-right: 55px;
  }
}

@media (min-width: @tablet-width) {
  .features {
    // width: 668px;
    .tablet-centre;
  }

  .features__title {
    padding-top: 60px;

    font-size: 43px;
    line-height: 50px;
  }

  .features__list {
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .features__item {
    // display: inline-block;
    width: 295px;

    padding: 0;
    padding-top: 75px;
    padding-bottom: 30px;
    margin: 0;

    font-size: 20px;
    line-height: 22px;

    &--eco {
      order: 0;
    }

    &--craft {
      order: 1;
    }

    &--hugge {
      order: 2;
    }

    &--local {
      order: 3;
    }

    &--likes {
      order: 4;
    }

    &--gift {
      order: 5;
    }
  }
}

@media (min-width: @desktop-width) {
  .features {
    .desktop-centre;
  }

  .features__title {
    margin-left: 175px;
    padding-top: 70px;

    font-size: 53px;
    line-height: 57px;
  }

  .features__list {
    justify-content: flex-start;

    margin-left: 175px;
  }
}
