.main-nav {
  display: flex;
  flex-direction: column;
}

.main-nav__logo {
  margin: 0 auto;
  padding-top: 22px;
  padding-bottom: 22px;

  &[href]:hover {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

.main-nav__logo-image {
  width: 86px;
  height: 35px;
}

.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav__item {
  display: block;

  padding-top: 32px;
  padding-bottom: 30px;
  padding-left: 76px;

  border-top: 1px solid #ececec;

  &--desktop-only {
    display: none;
  }
}

.main-nav__link {
  text-decoration: none;
  font-weight: bold;
  color: #000000;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__cart,
.main-nav__search {
  padding-top: 32px;
  padding-bottom: 30px;
  padding-left: 76px;

  border-top: 1px solid #ececec;
}

@media (min-width: @tablet-width) {
  .main-nav {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .main-nav__logo {
    display: inline-block;

    height: 88px;

    margin: 0;
    margin-right: auto;
    padding: 0;
  }

  .main-nav__logo-image {
    width: 112px;
    height: 46px;

    padding-top: 22px;
  }

  .main-nav__list {
    order: 4;
    display: flex;
    flex-wrap: wrap;

    max-width: 403px;

    margin-top: 25px;

    font-size: 15px;
  }

  .main-nav__item {
    padding: 0;
    margin-right: 37px;

    border-top: none;
  }

  .main-nav__search {
    width: 82px;

    padding: 0;

    font-size: 0;

    border-top: none;
    border-left: 1px solid #ececec;
  }

  .main-nav__cart {
    display: flex;
    width: 265px;

    padding: 0;

    border-top: none;
    border-left: 1px solid #ececec;
  }

  .main-nav__link {
    &--cart {
      margin-left: auto;
      align-self: center;
    }
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: auto;
  }

  .main-nav__logo {
    margin: 0 auto;
  }

  .main-nav__logo-image {
    width: 149px;
    height: 72px;

    padding-top: 9px;
  }

  .main-nav__list {
    order: -1;

    margin-top: 0;
  }

  .main-nav__item {
    height: 88px;
    box-sizing: border-box;

    margin: 0;
    padding-top: 36px;

    font-size: 17px;

    &:nth-child(2n+1) {
      width: 183px;
    }

    &:nth-child(2n) {
      padding-left: 35px;
    }

    &:first-child {
      border-right: 1px solid #ececec;
    }

    &--desktop-only {
      display: block;

      height: auto;

      padding-top: 25px;

      font-size: 15px;
    }
  }

  .main-nav__search {
    height: 88px;
  }

  .main-nav__cart {
    height: 88px;
  }
}
