.nav {
  width: 320px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.nav__item {
  display: block;

  &--seafoam-blue {
    background-color: #63d1bb;
  }

  &--aqua-marine {
    background-color: #56c3b2;
  }
}

.nav__link {
  display: block;

  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 25px;

  text-decoration: none;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
}
