.order-list {
  // width: 260px;
  // margin: 0 auto;
  .mobile-centre;
}

.order-list__description {
  margin: 0;
  margin-bottom: 30px;
  margin-top: 22px;

  font-size: 13px;
}

@media (min-width: @tablet-width) {
  .order-list {
    .tablet-centre;
  }

  .order-list__description {
    margin-top: 57px;
    margin-bottom: 70px;

    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .order-list {
    .desktop-centre;
  }

  .order-list__description {
    width: 675px;

    margin: 0 auto;
    margin-top: 112px;
    margin-bottom: 60px;
  }
}
