.main-header {
  border-top: 1px solid #ececec;

  background-color: #f9f9f9;
  background-image: url(../img/hero-mobile%401x.jpg);
  background-position: center top;
  background-repeat: no-repeat;
}

.main-header__title {
  width: 244px;

  margin: 0 auto;
  padding-top: 76px;
  padding-bottom: 120px;

  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  color: #010000;
}
