body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-family: "OpenSans", sans-serif;
  font-size: 17px;
  line-height: 24px;
  text-align: left;
  color: #444444;
  font-style: normal;
}

.button {
  display: block;
  box-sizing: border-box;
  height: 52px;

  padding-top: 14px;
  padding-bottom: 14px;

  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
  color: #444444;

  background-color: #ffffff;
  border: solid 2px #444444;

  &:hover {
    color: #ffffff;

    background-color: #444444;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);

  clip: rect(0 0 0 0);
  overflow: hidden;
}
