@import "variables.less";
@import "scaffolding.less";
@import "mixins.less";
@import "blocks/page-header.less";
@import "blocks/main-nav.less";
@import "blocks/page-main.less";
@import "blocks/main-header.less";
@import "blocks/nav.less";
@import "blocks/catalog.less";
@import "blocks/order-list.less";
@import "blocks/order-form.less";
@import "blocks/best-selling.less";
@import "blocks/features.less";
@import "blocks/reviews.less";
@import "blocks/contacts.less";
@import "blocks/promo.less";
@import "blocks/page-footer.less";
@import "blocks/social-list.less";
@import "blocks/fill-cart.less";

@font-face {
  font-weight: normal;
  font-family: "OpenSans";
  font-style: normal;
  font-display: swap;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/opensans.woff") format("woff"), url("source/fonts/opensans.woff2") format("woff2");
}

@font-face {
  font-weight: bold;
  font-family: "OpenSans";
  font-style: normal;
  font-display: swap;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/opensansbold.woff") format("woff"), url("source/fonts/opensansbold.woff2") format("woff2");
}
